<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moraisvinny.controledospais"
    android:versionCode="3"
    android:versionName="ControleDosPais_3">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <meta-data android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/main_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/main_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name="com.moraisvinny.controledospais.HomeActivity"
            android:label="Controle dos Pais"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen"
            android:launchMode="singleTask"
            android:stateNotNeeded="true">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <!--Include the AdActivity configChanges and theme. -->
        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <activity
            android:name="com.moraisvinny.controledospais.ResetLauncherActivity"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.moraisvinny.controledospais.CadastroSenhaActivity"
            android:label="Cadastro de Senha" />
        <activity android:name="com.moraisvinny.controledospais.ConfiguracoesActivity"
            android:label="Configurações" />
        <activity android:name="com.moraisvinny.controledospais.ConfereSenhaActivity"
            android:label="Controle de Acesso"/>
        <activity android:name="com.moraisvinny.controledospais.AppsLiberadosActivity"
            android:label="Aplicativos Liberados" />
    </application>

</manifest>